<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Ingrese datos</h1>
            <br>
            <form action="/" method="post">
                <div>
                    <label for="titulo"><b>Titulo del album</b></label>
                    <input id="titulo" type="text" name="titulo">
                </div>
                <div>
                    <label for="banda"><b>Nombre de la banda</b></label>
                    <input id="banda" type="text" name="banda">
                </div>
                <div>
                    <label for="anio"><b>Año de lanzamiento</b></label>
                    <input id="anio" type="number" name="anio">
                </div>
                <div>
                    <label for="tapa"><b>Tapa del album</b></label>
                    <input id="tapa" type="text" name="tapa">
                </div>
                <button>Enviar</button>
            </form>
            <button><a href="http://localhost:3000/productos">Ver productos</a></button>
        </div>
    </div>
</body>
</html>